@model TesteLab.Jogos

@{
    ViewBag.Title = "Cadastro de pontuação";
}
@if (ViewBag.Sucess != null && ViewBag.Sucess)
{
    ViewBag.Mensagem = "Pontos adicionados com sucesso...";
}

<h2>Pontuação dos jogos</h2>

<div>
    <p>@Html.ActionLink("Resultados", "Resultados")</p>
    
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Data, htmlAttributes: new { @class = "control-label col-md-2"}) 
            <div class="col-md-10">
                @Html.EditorFor(model => model.Data, new { htmlAttributes = new { @class = "form-control", @type = "date" } })<!--Criando campo para seleção de data-->
                @Html.ValidationMessageFor(model => model.Data, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Pontos, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Pontos, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Pontos, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
    <h5>@ViewBag.Mensagem</h5>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
